{% extends 'base.html' %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup_success.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
<div class="container">
  <h2 class="sucessfull">Password Reset Done</h2>
  <p class="canlogin">We have sent you an email with instructions on how to reset your password.</p>
  <p class="canlogin">If you do not receive an email within 10 minutes, check your spam folder first, then try again.</p>
</div>
{% endblock %}
```